.square-spaces-wrapper{
        text-align: center;
        margin-bottom: 80px;
        div#SOIDIV_EcommSuccessCall {
                margin: 40px 0;
                @media (max-width: 575px){
                        margin: 20px 0;
                }
            }
}