// @import "./typography/fonts";
// Typography
$regularFont: 'CF Asty Std';
$sansSerifDisplay: 'Helvetica Now Display';
$sansSerifDisplayLight: 'Helvetica Now Display Light';
$sansSerifDisplayRegular: 'Helvetica Now Display Regular';
$sanSerifBold: 'Helvetica Neue LT Std';
$sanSerifLight-47: 'Helvetica Neue LT Std 47';
$sanSerifLight-57: 'Helvetica Neue LT Std 57';
$serifFont: 'Miller Display';
$robotoBold: 'Roboto bold';
$robotoRegular: 'Roboto Regular';
// Graphic
// $masterColor: #f63143;
$masterColor: #FB1F40;
$secondaryColor: #0D72A9;
$navbarText: #bfbfbf;
$darkGrey: #616161;
$headingColor: #2f2c2c;
$reasonBg: #061333;
$reasonHeaderBg: #0f184f;
$lightText: #bcbec0;
$footerMagazineBg: #f3f3f3;